.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
* Slider
*/
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger-box {
  width: 35px;
  height: 17px;
}

.relative {
  position: relative;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: fixed;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  @include md {
    height: 74px;
  }
  @include xl {
    padding: 0 2em;
  }
  @include xxl {
    padding: 0 4em;
  }
}

.sub-menu {
  flex-direction: column;
  background: white;
  list-style: none;
  padding: 0 0 0 12px;
  text-align: left;
  display: none;
  @include mobilemax {
    margin: 0 0 0px 25px;
  }
  @include md {
    position: absolute;
  }
}

.sub-menu .menu-item {
  margin: 0 0 0 25px;
}

.menu-item {
  list-style-type: none;
  margin: 0 25px;
  @include md {
    border: none;
    margin: 0;
  }
}

.menu-item a {
  border-bottom: 1px solid #d8d8d8;
  display: inline-block;
  width: 100%;
  position: relative;
  @include md {
    border: none;
  }
}

.menu-item-has-children {
  white-space: nowrap;
  margin: 0 25px;
  border: none;
  position: relative;
  @include md {
    margin: 0;
  }
}

.menu-item-has-children > .nav-link:after {
  @include mobilemax {
    top: 25%;
    right: 10px;
    font-family: FontAwesome;
    font-size: 1.4em;
    content: "\f107";
    position: absolute;
  }
}

.menu-item-has-children:hover {
  @include md {
    .sub-menu {
      display: flex;
      z-index: 1;
    }
  }
}

/*
*nav-primary
*/
.navbar-brand {
font-size: 1.1rem;
font-weight: 500;
margin: 0;
@include lg {
  font-size: 1.4rem;
}
}

.nav-primary {
  list-style-type: none;
  margin-right: 1em;
  text-align: left;
  transition: transform 1s ease;
  transition-delay: 0.4s;
  position: relative;
  margin: 100px 0;
  @include md {
    display: block;
    text-align: center;
    background: transparent;
    height: auto;
    width: auto;
    top: initial;
    transform: none;
    margin: 0;
  }
}

.nav-primary ul {
  padding: 0;
  margin: 0;
}

.nav-primary li {
  @include md {
    display: inline-block;
  }
}

.nav-primary li a {
  color: $dark-text;
  font-weight: 500;
  // font-family: 'Raleway', sans-serif;
  padding: 16px 0;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  // font-size: 17px;
  font-size: 16px;
  @include md {
    font-size: 15px;
    padding: 8px 10px;
  }
  @include lg {
    font-size: 16px;
    padding: 8px 16px;
  }
  @include xxl {
    font-size: 17px;
  }
}

.nav-primary li a:first-letter {
  text-transform: capitalize;
}

.nav-primary li a:hover {
  color: $brand;
}

.nav-primary .current-menu-item a {
  color: $brand;
}

.menu-block {
  @include mobilemax {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
  }
}

// @media only screen and (max-width: 768px) {

//   .sub-menu li {
//     display: flex;
//     align-items: center;
//     margin: 0 0 25px;
//   }

//   .sub-menu li:before {
//     content: "";
//       display: block;
//       background: $brand;
//       width: 10px;
//       height: 2px;
//       float: left;
//   }
// }

.menu-visible {
  display: block;
  transition: opacity 1.4s;
  opacity: 1;
}

.menu-swipe {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  @include md {
    display: none;
  }
}



// #menu-main-menu li:first-of-type {
//   @include xl {
//     display: none;
//   }
// }

// #menu-main-menu .sub-menu li:first-of-type {
//   @include md {
//     display: block;
//   }
// }



.site-logo__outer {
  z-index: 3;
  padding: 20px 0 20px 20px;
  display: inline-block;
  @include xl {
    position: relative;
    top: initial;
    left: initial;
  }
  @include xl {
    z-index: 1;
  }
}

.opacity-one {
  opacity: 1;
}

button:focus {
  outline: none;
  outline: none;
}

/*
* Hamburger
*/
.hamburger {
  outline: none;
  z-index: 3;
  @include md {
    display: none;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 2px;
}

.nav-primary .lang-item a {
  padding: 8px;
  border: none;
}

.nav-primary a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: $brand;
}

/*
* Languages Section
*/
.lang-item {
  display: inline-block;
  @include mobilemax {
    margin: 25px 5px 25px 25px;
  }
}

.lang-item:last-of-type {
  display: inline-block;
  @include mobilemax {
    margin: 25px 5px 25px 12px;
  }
}
